body {
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
}

.header{
    background-color: #002966;
}

#logo{
    width: 210px;
    height: 70px;
}

.submit{
    float: right;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.navigationBar{

}

#firstbar{
    background-color: #d9d9d9;
}

#secodbar{

}

.checkDate{
    background-color: #ffbb33;
    width: 600px;
    height: 360px;
    padding-left: 30px;
    line-height: 15px;
}

#lente{

}
